<div class="shadowbox-items">

  <div class="row">
    {% assign shadowboxList = site.posts | sort: "order" %}

    <ul class="thumbs">
      {% for post in shadowboxList %}
        {% if post.order > 0 and post.order < 6 %}
          {% include shadowbox-item-thumb.html %}
        {% endif %}
      {% endfor %}
    </ul>
    <ul class="details">
      {% for post in shadowboxList %}
        {% if post.order > 0 and post.order < 6 %}
          {% include shadowbox-item-detail.html %}
        {% endif %}
      {% endfor %}
    </ul>

    <ul class="thumbs">
      {% for post in shadowboxList %}
        {% if post.order > 5 and post.order < 11%}
          {% include shadowbox-item-thumb.html %}
        {% endif %}
      {% endfor %}
    </ul>
    <ul class="details">
      {% for post in shadowboxList %}
        {% if post.order > 5 and post.order < 11 %}
          {% include shadowbox-item-detail.html %}
        {% endif %}
      {% endfor %}
    </ul>
  </div>

</div>