// Global

html {
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  
  font-size: 100%;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  @media all and (min-width: $break-large) { font-size: 110%; }
  @media all and (max-width: $break-small) { font-size: 104%; }
}

*, *:before, *:after { box-sizing: inherit; }

body {
  color: $black-01;
}

@mixin body-container {
  margin: 0 auto;
  max-width: 1400px;
  padding: 0 20rem 0 4rem;

  p {
    max-width: $break-small;
  }
}

.body-container { @include body-container; }


// Type

h1 {
  color: $black-01;
  font-family: $sans;
  font-size: 2.14rem;
  font-weight: 400;
  letter-spacing: 16px;
  line-height: 180%;
  text-transform: uppercase;
}

h2 {
  font-family: $serif;
  font-size: 1rem;
  letter-spacing: 4px;
  margin-bottom: 2rem;
  text-transform: uppercase;
  font-weight: 700;
}

h3 {}

p {
  font-family: $sans;
  font-size: 1.3rem;
  letter-spacing: 2px;
}

.label-serif-small {
  font-family: $serif;
  font-size: 1rem;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 6px;
  line-height: 100%;
  text-transform: lowercase;
}

.label-sans-small {
  font-family: $sans;
  font-size: 0.86rem;
  font-weight: 700;
  letter-spacing: 4px;
  line-height: 100%;
  text-transform: uppercase;
}


// Header & Nav

header {
  background-color: tan;
  padding: 6rem 0;
}

// Body

section {
  @include body-container;
  margin: 6rem auto;

  h2 {
    margin-left: -36px;
    padding-top: 4rem;
  }

}

// Nav

nav {
  position: absolute;
  right: 6vw;
  top: 292px;
  z-index: 1;
}

.fixed-nav {
  position: fixed;
  top: 120px !important;
}

.active {
  a { color: red; }
}


// Shadowbox

.shadowbox-items {

  .row {
    display: block;
  }

  .thumbs {
    display: flex;
    margin: 2rem 0;
    padding: 0;
    
    li {
      background-size: cover;
      background-position: center;
      display: block;
      flex: 1;
      height: 160px;
      margin-right: 4px;
      transition: all 200ms;
      width: 25%;
      
       &:hover {
        background-size: 100%;
        cursor: pointer;
        filter: brightness(0.6);
      }
    } // li
  } // .thumbs
  
  .details {
    padding: 0;

    li {
      background-image: none;
      display: none;
      margin-top: 20px;
      width: 100%;

      .item-content {
        display: flex;

        .image {
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          width: 344px;
        }

        .text {
          width: 60%;

          .title {}
          .notes {}
          .author {}
        }
      } // .item-content
    } // li
  } // .details
  
  .thumb-default { filter: brightness(1); }
  .thumb-focused {
    background-size: 100%;
    filter: brightness(0.6);
    transform: scale(0.94);
  }

  .close { }


} // .shadowbox-items