// Global

html {
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  font-size: 100%;
  font-variant-numeric: normal;
  scroll-behavior: smooth;
  // text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  @media all and (min-width: $break-large) { font-size: 110%; }
  @media all and (max-width: $break-small) { font-size: 104%; }
}

*, *:before, *:after { box-sizing: inherit; }

body {
  color: $black-01;
  margin-bottom: 12rem;
}

@mixin body-container {
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 20rem 0 6rem;

  @media all and (max-width: $break-medium) { padding: 0 20rem 0 2rem; }
  @media all and (max-width: $break-small) { padding: 0 2rem; }

  p {
    max-width: 760px;
  }
}

.body-container { @include body-container; }

ul, ol {
  margin: 0;
  padding: 0;
}


// Type

h1 {
  color: $black-01;
  font-family: $sans;
  font-size: 2.14rem;
  font-weight: 400;
  letter-spacing: 16px;
  line-height: 180%;
  text-transform: uppercase;
}

h2 {
  font-family: $serif;
  font-size: 1rem;
  letter-spacing: 4px;
  margin-bottom: 2rem;
  text-transform: uppercase;
  font-weight: 700;

  @media all and (max-width: $break-tiny) { font-size: 0.96rem; }
}

h3 {}

p {
  font-family: $sans;
  font-size: 1.3rem;
  letter-spacing: 2px;
}

@mixin label-serif-small {
  font-family: $serif;
  font-size: 1rem;
  font-style: italic;
  font-weight: 600;
  letter-spacing: 6px;
  line-height: 100%;
  text-transform: lowercase;
}

@mixin label-sans-medium {
  font-family: $sans;
  font-size: 0.94rem;
  font-weight: 700;
  letter-spacing: 4px;
  line-height: 100%;
  text-transform: uppercase;
}

@mixin label-sans-small {
  font-family: $sans;
  font-size: 0.86rem;
  font-weight: 700;
  letter-spacing: 4px;
  line-height: 100%;
  text-transform: uppercase;
}


// Header

header {
  background: no-repeat url('/src/img/header-bg.jpg');
  background-size: cover;
  padding: 6rem 0;

  @media all and (max-width: $break-tiny) { padding: 3rem 0; }

  #preamble { display: none; }

  .eyebrow { @include label-serif-small; }

  .author {
    @include label-sans-small;
    margin-top: 1.5rem;;

    &:before {
      background: $black-01;
      content: "";
      display: inline-block;
      height: 1px;
      margin: 0 12px 4px 0;
      width: 20px;
    }
  }
}

// Buttons

form {

  input {
    @include label-sans-medium;

    border: 0;
    color: $white-01;
    padding: 12px 72px;

    @media all and (max-width: $break-medium) { padding: 12px 48px; }

    @media all and (max-width: $break-tiny) {
      padding: 16px 0;
      width: 100%;
    }
  }

  &.primary input {
    background: $black-01;
    
    &:hover { background: lighten($black-01, 15%);}
  }

  &.secondary input {
    background: $brown-01;

    &:hover { background: lighten($brown-01, 10%);}
  }
} // .form

.ctas {
  margin-top: 3rem;

  form {
    display: inline-block;

    &:nth-child(n+2) { margin-left: 1rem;}

    @media all and (max-width: $break-tiny) {
      display: block;
      &:nth-child(n+2) {
        margin-left: 0;
        margin-top: 1rem;
      }
    }
  }
} // .ctas


// Body

section {
  @include body-container;
  margin: 6rem auto;

  h2 {
    margin-left: -36px;
    padding-top: 4rem;

    @media all and (max-width: $break-medium) {
      margin-left: 0;
      padding-top: 0;
    }
  }
}

// Nav

nav {
  position: absolute;
  right: 200px;
  z-index: 1;
  
  @media all and (max-width: 1400px) {
    right: 40px;
  }
  @media all and (min-width: 1400px) {
    right: 200px;
  }
  @media all and (min-width: 2000px) {
    right: 480px;
  }
  @media all and (max-width: $break-small) {
    border: 2px solid $black-01;
    margin: 4rem auto auto;
    max-width: 360px;
    padding: 2rem 0;
    position: initial;
  }

  .label {
    @include label-sans-small;
    display: none;
    padding-left: 24px;

    @media all and (max-width: $break-small) {
      display: block;
      padding: 0;
      text-align: center;
    }
  }

  li {
    @include label-serif-small;
    border-left: 1px solid $black-04;
    font-weight: 600;
    letter-spacing: 3px;
    list-style-type: none;
    margin: 0;
    padding: 0.5rem 0 0.5rem 24px;
    position: relative;

    @media all and (max-width: $break-small) { text-align: center; }

    a {
      &:link, &:visited, &:active { 
        color: $black-01;
        text-decoration: none;
      
      &:hover { color: $red-01; }
      }
    }

    &.active {
      &:before {
        content: "";
        background: $red-01;
        display: block;
        height: 34px;
        left: -1px;
        position: absolute;
        top: 0;
        width: 2px;

        @media all and (max-width: $break-small) { display: none; }
      }

      a {
        color: $red-01;
        @media all and (max-width: $break-small) { color: $black-01; }

        &:hover { color: $red-01; }
      }
    }
  }

  &.fixed {
    position: fixed;
    top: 120px !important;

    @media all and (max-width: $break-small) {
      position: initial;
    }
  }

} // nav

// Shadowbox

.shadowbox-items {

  .row {
    display: block;
  }

  .thumbs {
    display: flex;
    margin: 2rem 0;
    padding: 0;
    
    li {
      background-size: cover;
      background-position: center;
      display: block;
      flex: 1;
      height: 160px;
      margin-right: 4px;
      transition: all 200ms;
      width: 25%;
      
       &:hover {
        cursor: pointer;
        filter: brightness(0.6);
      }
    } // li
  } // .thumbs
  
  .details {
    padding: 0;

    li {
      background-image: none;
      display: none;
      margin-top: 20px;
      width: 100%;

      .item-content {
        display: flex;

        .image {
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          width: 344px;
        }

        .text {
          width: 60%;

          .title {}
          .notes {}
          .author {}
        }
      } // .item-content
    } // li
  } // .details
  
  .thumb-default { filter: brightness(1); }
  .thumb-focused {
    background-size: 100%;
    filter: brightness(0.6);
    transform: scale(0.94);
  }

  .close { }


} // .shadowbox-items