<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2292%22>🌇</text></svg>">
  
    <title>Kelly & Brandon</title>
    
    <meta name="description" content="Description....">
    <meta property="og:image" content="https://kelly-brandon.com/src/img/og.jpg" />
    <meta property="og:image:secure_url" content="https://kelly-brandon.com/src/img/bd-og.jpg" />
    <meta property="og:image:type" content="image/jpeg" /> 
    <meta property="og:image:width" content="1200" /> 
    <meta property="og:image:height" content="630" />
  
    <link rel="stylesheet" href="/styles/normalize.css">
    <link rel="stylesheet" href="/styles/main.css">
    <script src="/src/scripts.js"></script> 
  
  </head>
	<body>
	  {{ content }}
  </body>
</html>