<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/src/img/favicon.png">
  
    <title>Kelly & Brandon</title>
    
    <meta name="description" content="Wedding deets and some other goodies.">
    <meta property="og:image" content="https://kelly-brandon.com/src/img/og.jpg" />
    <meta property="og:image:secure_url" content="https://kelly-brandon.com/src/img/bd-og.jpg" />
    <meta property="og:image:type" content="image/jpeg" /> 
    <meta property="og:image:width" content="1200" /> 
    <meta property="og:image:height" content="630" />
  
    <link rel="stylesheet" href="/styles/normalize.css">
    <link rel="stylesheet" href="/styles/main.css">
    <script src="/src/scripts/jquery-3.7.0.min.js"></script> 
    <script src="/src/scripts/scripts.js"></script> 
  
  </head>
	<body>
	  {{ content }}
  </body>
</html>